%h1 Väärin sisennetty koodi


= form_for @code_question, :url => wizard_path, :method => :put do |f| 
  = f.label :no_indent_a ,"A"
  = f.radio_button :no_indent_a, "A"
  = f.label :no_indent_b ,"B"
  = f.radio_button :no_indent_b, "B"
  = f.submit "Next" 
end 