<h1>Kysymys 3/8</h1>
<h3>Koodi A</h3>

<pre class="sh_java">
while ( true ) {
   System.out.println("osaan ohjelmoida!");
   System.out.print("jatketaanko (ei lopettaa)? ");
   String komento = lukija.nextLine();
   if ( komento.equals("ei") ) {
       break;
   }
}
System.out.println("kiitos ja kuulemiin.");

</pre>    

<h3>Koodi B</h3> 
<pre class="sh_java">
while ( true ) {
   System.out.println("osaan ohjelmoida!");

   System.out.print("jatketaanko (ei lopettaa)? ");
   String komento = lukija.nextLine();
   if ( komento.equals("ei") ) {
       break;
   }
}
System.out.println("kiitos ja kuulemiin.");
</pre>



<%= form_for @code_question, :url => wizard_path, :method => :put do |f| %>
  <p>Mielestäni...</p>
  <%= f.radio_button :no_air, 1 %>
  <%= f.label :no_air ,"Koodi A on perempi" %>
  <br>
  <%= f.radio_button :no_air, 2 %>
  <%= f.label :no_air ,"Koodi B on parempi" %>
  <br>
  <%= f.radio_button :no_air, 3 %>
  <%= f.label :no_air , "En osaa sanoa" %>
   <br>
   <br>
   <%= f.label "Vapaamuotoinen perustelu:" %>
  <br>
  <%= f.text_area :no_air_comment, :size => '15x4' %>
  <br>

  <%= f.submit "Seuraava", :class => 'btn btn-primary' %>

 <% end %>
