<h1>Kysymys 2/8</h1>
<h3>Koodi A</h3>

<pre  class="sh_java">
Scanner l = new Scanner(System.in);

System.out.print("Kenelle sanotaan hei: ");
String x = l.nextLine();

System.out.print("Hei " + x);
</pre>    

<h3>Koodi B</h3> 
<pre class="sh_java">
Scanner lukija = new Scanner(System.in);

System.out.print("Kenelle sanotaan hei: ");
String nimi = lukija.nextLine();

System.out.print("Hei " + nimi);
</pre>



<%= form_for @code_question, :url => wizard_path, :method => :put do |f| %>
  
  <%= f.label :bad_variable_names ,"Mielestäni parempi on koodi A" %>
  <%= f.radio_button :bad_variable_names, 1 %> <br>
  <%= f.label :bad_variable_names ,"Mielestäni parempi on koodi B" %>
  <%= f.radio_button :bad_variable_names, 2 %><br>
  <%= f.label :bad_variable_names , "En osaa sanoa" %>
  <%= f.radio_button :bad_variable_names, 3 %> <br><br>
  <%= f.text_area :bad_variable_names_comment, :size => '15x4' %>
  <br>

  <%= f.submit "Seuraava", :class => "btn btn-primary" %>

 <% end %>
