<h1>Kysymys 8/8</h1>
<h3>Koodi A</h3>

<pre class="sh_java">
int vuosi = 2013;
        
if ( vuosi % 400 == 0 ) {
    System.out.println("Vuosi on karkausvuosi!");
} else {
    if ( vuosi % 100 == 0 ) {
        System.out.println("Vuosi ei ole karkausvuosi!");
    } else {
        if ( vuosi % 4 == 0 ) {
            System.out.println("Vuosi on karkausvuosi!");
        } else {
            System.out.println("Vuosi ei ole karkausvuosi!");
        }
    }
}
</pre>    

<h3>Koodi B</h3> 
<pre  class="sh_java">
int vuosi = 2013;

if ( vuosi % 4 != 0 ) {
    System.out.println("Vuosi ei ole karkausvuosi!");
    return;
}

if ( vuosi % 400 == 0 ) {
    System.out.println("Vuosi on karkausvuosi!");
    return;
}

if ( vuosi % 100 == 0 ) {
    System.out.println("Vuosi ei ole karkausvuosi!");
    return;
}

System.out.println("Vuosi on karkausvuosi!");
</pre>



<%= form_for @code_question, :url => wizard_path, :method => :put do |f| %>
  
  <p>Mielestäni...</p>
  <%= f.radio_button :too_complex_iffs, "A" %>
  <%= f.label :too_complex_iffs ,"Koodi A on parempi" %>
  <br>
  <%= f.radio_button :too_complex_iffs, "B" %>
  <%= f.label :too_complex_iffs ,"Koodi B on parempi" %>
  <br>
  <%= f.radio_button :too_complex_iffs, "EOS" %>
  <%= f.label :too_complex_iffs , "En osaa sanoa" %>
   <br>
  <br>
  <%= f.label "Vapaamuotoinen perustelu:" %>
  <br>
  <%= f.text_area :too_complex_iffs_comment, :size=>'15x4' %>
  <br>

  <%= f.submit "Tallenna", :class=>'btn btn-primary' %>

 <% end %>