<h1>Kysymys 8/8</h1>
<h3>Koodi A</h3>

<pre class="sh_java">
int vuosi = 2013;
        
if ( vuosi % 400 == 0 ) {
    System.out.println("Vuosi on karkausvuosi!");
} else {
    if ( vuosi % 100 == 0 ) {
        System.out.println("Vuosi ei ole karkausvuosi!");
    } else {
        if ( vuosi % 4 == 0 ) {
            System.out.println("Vuosi on karkausvuosi!");
        } else {
            System.out.println("Vuosi ei ole karkausvuosi!");
        }
    }
}
</pre>    

<h3>Koodi B</h3> 
<pre  class="sh_java">
int vuosi = 2013;

if ( vuosi % 4 != 0 ) {
    System.out.println("Vuosi ei ole karkausvuosi!");
    return;
}

if ( vuosi % 400 == 0 ) {
    System.out.println("Vuosi on karkausvuosi!");
    return;
}

if ( vuosi % 100 == 0 ) {
    System.out.println("Vuosi ei ole karkausvuosi!");
    return;
}

System.out.println("Vuosi on karkausvuosi!");
</pre>



<%= form_for @code_question, :url => wizard_path, :method => :put do |f| %>
  
  <%= f.label :too_complex_iffs ,"Mielestäni parempi on koodi A" %>
  <%= f.radio_button :too_complex_iffs, 1 %><br>
  <%= f.label :too_complex_iffs ,"Mielestäni parempi on koodi B" %>
  <%= f.radio_button :too_complex_iffs, 2 %><br>
  <%= f.label :too_complex_iffs , "En osaa sanoa" %>
  <%= f.radio_button :too_complex_iffs, 3 %> <br>
  <%= f.text_area :too_complex_iffs_comment, :size=>'15x4' %>
  <br>

  <%= f.submit "Seuraava", :class=>'btn btn-primary' %>

 <% end %>