<h1>Kysymys 7/8</h1>
<h3>Koodi A</h3>

<pre class="sh_java">
Tiedosto tiedosto = new Tiedosto("paivakirja.txt"); 
tiedosto.avaa();
String tiedot = tiedosto.lue();
tiedosto.lopeta();

System.out.println(tiedot);</pre>    

<h3>Koodi B</h3> 
<pre  class="sh_java">
Tiedosto tiedosto = new Tiedosto("paivakirja.txt"); 
tiedosto.avaa();
String tiedot = tiedosto.lue();
tiedosto.sulje();

System.out.println(tiedot);
</pre>



<%= form_for @code_question, :url => wizard_path, :method => :put do |f| %>
  <p>Mielestäni...</p>
  <%= f.radio_button :unconsistent_names, "A" %>
  <%= f.label :unconsistent_names ,"Koodi A on parempi" %>
  <br>
  <%= f.radio_button :unconsistent_names, "B" %>
  <%= f.label :unconsistent_names ,"Koodi B on parempi" %>
  <br>
  <%= f.radio_button :unconsistent_names, "EOS" %>
  <%= f.label :unconsistent_names , "En osaa sanoa" %>
   <br>
  <br>
  <%= f.label "Vapaamuotoinen perustelu:" %>
  <br>
  <%= f.text_area :unconsistent_names_comment, :size=>'15x4' %>
  <br>

  <%= f.submit "Seuraava", :class=>'btn btn-primary' %>

 <% end %>