<h1>Kysymys 4/8</h1>
<h3>Koodi A</h3>

<pre class="sh_java">
int leveys = 2;
int korkeus = 4;
int pintaAla = leveys * korkeus;

System.out.println(“Pinta-ala: “ + pintaAla);
</pre>    

<h3>Koodi B</h3> 
<pre class="sh_java">
int leveys = 2; // leveys on 2
int korkeus = 4; // korkeus on 4
int pintaAla = leveys * korkeus; // pinta-ala on leveys * korkeus

System.out.println(“Pinta-ala: “ + pintaAla); // tulostetaan pinta-ala
</pre>



<%= form_for @code_question, :url => wizard_path, :method => :put do |f| %>
  
  <%= f.label :extra_comments ,"Mielestäni parempi on koodi A" %>
  <%= f.radio_button :extra_comments, 1 %><br>
  <%= f.label :extra_comments ,"Mielestäni parempi on koodi B" %>
  <%= f.radio_button :extra_comments, 2 %><br>
  <%= f.label :extra_comments , "En osaa sanoa" %>
  <%= f.radio_button :extra_comments, 3 %> <br>
  <br>
  <%= f.text_area :extra_comments_comment, :size=>'15x4' %>
  <br>

  <%= f.submit "Seuraava", :class=>'btn btn-primary' %>

 <% end %>
